
#profile{
	width:100%;
   height:100%;
}

html{
	height: 100%;

}

body{
	height: 90%;
}

.homePage{
	height: 20%;
}

.signin{
	width: 20%;
	margin-left: auto;
	margin-right: auto;
}

.panel{
	padding-left: 2%;
	height: 50%;
}

.home{
	width: 100%;
    height: 100%;
    border-radius: 2%;
    background: antiquewhite;
    margin-top: .5%;
    font-size: 8vw;
}