
#profile{
	width:100%;
   height:100%;
}
.panel{
	padding-left: 10px;

}

.sign{


}
.homePage{
	
}

.home{
	width: 140px;
    height: 31px;
    border-radius: 10px;
    background: antiquewhite;
    margin-top: 8px;
}